header {
  display: flex;
  justify-content: space-between;
  /* padding: 1.2rem; */
}

header h3 {
  font-size: 2.4rem;
}

form {
  position: relative;
  display: flex;
  gap: 1.2rem;
}

form input {
  border-radius: 1.9rem;
  width: 25rem;
  border: none;
  padding: 0.8rem 1.2rem;
}

form input::placeholder {
  font-size: 1.6rem;
}

.error {
  color: #fff;
  background-color: rgb(134, 92, 92);
  position: absolute;
  right: 7%;
  top: 9%;
  z-index: 2;
  padding: 0.6rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
    gap: 1.2rem;
  }

  form {
    margin-left: auto;
  }

  form input {
    width: 16rem;
  }
}
