.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  margin: 0 auto;
  gap: 10rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
}

.container div {
  text-align: center;
}

@media (max-width: 650px) {
  .container {
    gap: 4rem;
  }
}
